<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <title>{{ .title }}</title>
  </head>
  <body class="bg-zinc-900 w-5/8 font-serif border-x-8 mx-auto h-screen">
    <nav class="bg-sky-400/70 flex flex-col p-4 mx-auto">
      <ul class="flex text-white gap-4 my-auto">
        <li><a href="/">Home</a></li>
        <li><a target="_blank" href="https://alexwarda.com">Alex's Website</a></li>
        {{ if .user }}
        <li><a href="/write">Write</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        {{ end }}
      </ul>
      <h1 class="text-3xl my-2 font-bold text-white">A Bad Blog</h1>
    </nav>

    <!-- Blog Posts Section -->
    <div class="flex h-full bg-zinc-700 p-6 shadow space-y-8 mx-auto">
      <nav class="w-1/4 flex flex-col text-white">
        <h1>Stuff Here</h1>
        <div id="calendar" hx-get="/calendar" hx-trigger="load" hx-swap="innerHTML">
        <!-- Calendar will be loaded dynamically -->
    </div>
      </nav>
      <div class="w-full flex flex-col">
        {{ range .posts }}
        <article class="w-full relative p-6">
          <h2 class="text-2xl font-bold text-sky-200">{{ .Title }}</h2>
          <p class="text-gray-300">{{ .DateCreated }}</p>
          <p class="text-gray-300 my-4">{{ .Text }}</p>
          {{ if $.user }}
          <a
            hx-delete="/posts/{{ .ID }}"
            class="text-red-500 hover:underline hover:cursor-pointer absolute top-4 right-4"
            >Delete</a
          >
          <a
            href="/write/{{ .ID }}"
            class="text-sky-400 hover:underline hover:cursor-pointer absolute top-4 right-20"
            >Edit</a
          >
          {{ end }}
          <p class="text-gray-300 mt-2">Tags: {{ range .Tags }} {{ . }}, {{ end }}</p>
          <p class="text-gray-300 mt-2">Mood: <span class="font-bold uppercase italic">{{ .Mood }}</span></p>
        </article>
        {{ end }}
      </div>
    </div>
  </body>
</html>
