<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <title>{{ .title }}</title>
  </head>
  <body class="bg-zinc-900 w-5/6 mx-auto">
    <nav class="flex p-4 justify-around">
      <h1 class="text-3xl font-bold text-white">Blog</h1>
      <ul class="flex gap-4 my-auto">
        <li class="text-white"><a href="/">Home</a></li>
        <li class="text-white"><a href="/about">About</a></li>
        {{ if .user }}
        <li class="text-white"><a href="/write">Write</a></li>
        <li class="text-white"><a href="/auth/logout">Logout</a></li>
        {{ end }}
      </ul>
    </nav>

    <!-- Blog Posts Section -->
    <div class="w-2/3 space-y-8 mx-auto">
      {{ range .posts }}
      <article class="bg-zinc-800 p-6 rounded-lg shadow">
        <h2 class="text-2xl font-bold text-white">{{ .Title }}</h2>
        <p class="text-gray-300 mt-2">{{ .DateCreated }}</p>
        <p class="text-gray-300 mt-2">{{ .Text }}</p>
        <button hx-delete="/posts/{{ .ID }}" class="mt-4 bg-red-500 hover:bg-red-600 hover:cursor-pointer text-white px-4 py-2 rounded">Delete</button>
      </article>
      {{ end }}
    </div>
  </body>
</html>
